.bill-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7dede;
  }
  
  .bill-table th,
  .bill-table td {
    padding: 8px;
    border: 1px solid black;
  }
  
  .bill-table th {
    background-color: rgb(195, 172, 172);
    text-align: left;
  }

  /* section{
    justify-content: auto;
    align-items: auto;
    background-color: #efd2d2;
    margin-left: 90px;
  } */

  label{
    font-size: 30px;
    padding: 10px;
  }
  input,button,select{
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
  }